
#header {
    background-color: orange;
    padding: 30px;
}
#displayNames {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 15px;
    
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    text-align: center;
}
#statSelectionBox {
    display: none;
}
#statSelectionBox-Show {
    display: block;
} 

#clearBtn {
    margin: 10px;
    background-color: red;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    border: solid 3px black;
    text-align: center;
    
} 
#displayStats { 
    
    display: grid;
    
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.selection {
    
   
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
} 


.card {
    
    border: solid 1px black;
    width: auto;
    height: 50px;
    margin: 0 0 0 0;
    display: block;
    
}
.info {
    height: 30px;
    width: 40px;
    margin: 10px;
    
    padding-top: 10px;
}
.name {
    width: 150px;
    height: 30px;
    padding-bottom:10px ;
}
.player-checkbox {
    display: none;
}

.player-checkbox-display {
    display: block;
    background-color: orange;
    border: solid 1px black;
}
.stat-selector {
    display: none;
}

.stat-selector-show {
    display: block;
    background-color: orange;
    border: solid 1px black;
}
.submit-btn {
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;

}
.displayContainer {
    border: solid 1px black;
    display: grid;
    grid-template-columns:2fr 7fr ;
}


.statContainer {
    display: grid;
    grid-template-columns: auto;
   
    background-color: orange;
}
